//-----------------------//
//------- COLORS --------//
//-----------------------//
$GREEN-LIGHT: #00A36C;
$GREEN-MEDIUM: #228B22;
$GREEN-DARK: #478778;

$YELLOW-LIGHT: lightgoldenrodyellow;
$YELLOW-MEDIUM: #FFE4B5;
$YELLOW-DARK: #BDB76B;

//-----------------------//
//-------- FONTS --------//
//-----------------------//
$calibri22: 22px calibri;